beautifulsoup4==4.12.2
browser-cookie3==0.19.1
bs4==0.0.1
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
jeepney==0.8.0
lxml==4.9.3
lz4==4.3.2
pycryptodomex==3.19.0
PyYAML==6.0.1
requests==2.31.0
soupsieve==2.5
termcolor==2.4.0
urllib3==2.1.0
